body {
  background: #f6f6f6;
}
#app {
  padding: 100px 0px;
}
.card {
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,.1);
  transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
}
.editor-wrapper {
  border: 1px solid #ddd;
}

#app {
  min-height: 100vh;
  box-sizing: border-box;
}

#app.scraping .card {
  opacity: .5;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,.6);
}

#app .card-body {
  overflow: auto;
}

#app .card-body.result {
  padding: 0px;
}

.box-result {
  background: #556760;
  color: white;
  overflow: auto;
  margin: 0px;
  padding: 15px;
}

.box-result.result-error,
.box-result.result-error pre {
  background-color: #dd0023;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  #app {
    padding: 1rem 0px;
  }

  #app .container.grid-sm {
    max-width: 90%;
  }
}
